
<h1>Create Account</h1>

<form action="/auth/signup" method="POST">
    <label for="new-firstName">First Name</label>
    <input id="new-firstName" type="text" name="firstName" required>

    <label for="new-lastName">Last Name</label>
    <input id="new-lastName" type="text" name="lastName" required>

    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" required>

    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password" required>
  
    <label for="new-nmlsId">NMLS ID</label>
    <input id="new-nmlsId" type="integer" name="nmlsId" required>
  
    <input type="submit" value="Sign up">
</form>
  