
<div class="indexContainer">

      <div class="col" id="homeLeft">
        <p>
            Great service, efficient communication and a really easy way to get a mortgage with lots of help and support to get the right deal.
        </p>
        <p>
            Fantastic company! Excellent customer service, efficient process.
        </p>
        <p>
            This app is geared towards the Independent M.O. who wants to work efficiently throughout the day and stay 
            organized with current and potential clients to provide the best customer service.
        </p>
        <p>
            If you're 1 month into your career or 10 years in, this application will increase your 
            productivity in a short time. 
        </p>
        <p>
            IndyMo, the application for the Independent M.O.
        </p>
      </div>

      <div class="col" id="homeRight">
      </div>      
   
</div>
