<html class="h-100" lang="en">
    <div class="cover-container d-flex w-100 h-100 p-5 mx-auto text-white flex-column">
        <main class="px-3">
        <h1>Are you an Independent M.O.?</h1>
        <p class="lead">
            IndyMo is the app for the independent M.O. who values their time,
            efforts and forward progress in life. The app will assist you in 
            becoming a top tier M.O. so that you will gain and maintain consistent
            streams of business. 
        </p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
        </main>
    </div>
    <!-- jumbotron -->
    <div class="p-5 mb-4 bg-light rounded-3" id="jumbotron">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">How much do you value your time?</h1>
          <p class="col-md-8 fs-4">
              We have assistive technology that makes the overall 
              client to M.O. enjoyable for both parties. Our quick tips
              and resourcess can enhance your turn around times and gain you
              more business. 
            </p>
          <a class="btn btn-primary btn-lg" href="/auth/signup" type="button">Sign-up</a>
        </div>
      </div>
      <!-- Business referrals -->
    <div class="cover-container d-flex w-100 p-2 h-100 mx-auto flex-row">
        <div class="col-md-6">
            <div class="h-100 p-4 text-white m-1 bg-dark rounded-3">
                <h2>Business</h2>
                <p>
                    We offer company package deals to
                    accomodate for businesses small to large.
                    As well as administrative features that
                    allows the acting accounts manager to share 
                    and assist with ease.
                </p>
                <button class="btn btn-outline-light" type="button">Connect</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-4 bg-light m-1 border rounded-3">
                <h2>Live Stream</h2>
                <p>
                    This will be a websocket display for whatever I 
                    can find to work. LOL. Maybe some more words 
                    will help with the spacing of the div. That 
                    helps but it should be even on both sides.
                </p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>
   
  </div>
</html>
    
  
  
      
    
  
  


<!-- <div class="indexContainer">

      <div class="col" id="homeLeft">
        <p>
            Great service, efficient communication and a really easy way to get a mortgage with lots of help and support to get the right deal.
        </p>
        <p>
            Fantastic company! Excellent customer service, efficient process.
        </p>
        <p>
            This app is geared towards the Independent M.O. who wants to work efficiently throughout the day and stay 
            organized with current and potential clients to provide the best customer service.
        </p>
        <p>
            If you're 1 month into your career or 10 years in, this application will increase your 
            productivity in a short time. 
        </p>
        <p>
            IndyMo, the application for the Independent M.O.
        </p>
      </div>

      <div class="col" id="homeRight">
      </div>      
   
</div>
<div id="profileFillerImg">
    <img src="https://elitepacific.azureedge.net/listings/HIS/mls/645708/645708_1.jpg" class="img-fluid" alt="mclarenP1">
  </div> -->