
<html class="h-100">
    <div class="text-center h-100 bg-info d-flex justify-content-center align-items-center">    
        <div id="addNewLead">
              <h2>Add New Lead</h2>
              <a class="btn btn-primary"href="/profile">Back to Profile</a>
              <form method="POST" action="/profile/leads" class="row g-2">
                  <div class="col-md-6">
                      <label for="firstName">First Name </label>
                      <input id="firstName"  class="form-control" type="text" name="firstName" placeholder="First Name ">
                  </div>
                  
                  <div  class="col-md-6">
                      <label for="lastName">Last Name</label>
                      <input id="lastName" class="form-control" type="text" name="lastName" placeholder="last Name ">
                  </div>
              
                  <div class="col-md-4">
                      <label for="phoneNumber">Phone Number</label>
                      <input id="phoneNumber"  class="form-control" type="text" name="phoneNumber" placeholder="(111) 222-3333">
                  </div>
              
                  <div class="col-md-6">
                      <label for="address">Address</label>
                      <input id="address"  class="form-control" type="text" name="address">
                  </div>
              
                  <div class="col-md-2">
                      <label for="state">State</label>
                      <input id="state"  class="form-control" type="text" name="state" placeholder="CA">
                  </div>
              
                  <div class="col-md-2">
                      <label for="zipCode">Zip Code</label>
                      <input id="zipCode" class="form-control" type="text" name="zipCode" placeholder="- - - - -">
                  </div>
              
                  <div class="col-md-6">
                      <label for="new-email">Email address</label>
                      <input type="email" class="form-control" id="new-email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
              
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>        
        </div>
              
  </div>
</html>


